.container{
  display: flex;
  flex-direction: row;
  background-color: chartreuse;
  justify-content: space-around;
}

.card{
  display: flex;
  flex-direction: column;
  width: 20vw;
  background-color: crimson;
  padding: 30px;

}

p{
  text-align: justify;
}


