body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Home - notes*/
.cardnote-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cardnote{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 10px;
}

.idk{
  display: flex;
  justify-content: center;
    align-items: center;
 height: 50px;
 background-color: crimson;
 margin-top: -5px;

}


@media(max-width:1024px){
  .cardnote{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 10px;
    flex-grow: 1;
  }
}

@media(max-width:768px){
  .cardnote{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
  }

}

@media(max-width:425px){
  .cardnote{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }


}





/*----------*/
