
body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Home - notes*/
#myhome{
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: chartreuse;
  display: flex;
  justify-content: center;
  align-items: center;

}

.cardnote-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cardnote{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 10px;
}

@media(max-width:1024px){
  .cardnote{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 10px;
    flex-grow: 1;
  }
}

@media(max-width:768px){
  .cardnote{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
  }

}

@media(max-width:425px){
  .cardnote{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }


}



.view{
  width: 100%;
  height: 35vh;
  object-fit: cover;
  object-position: center;
  

}




/*----------*/
/*Create Note - ImageContainer*/

#imageContainer{
  width: 100%;
  height: 36vh;
  border: solid 1px rgb(233, 233, 233);
}

#imageObject{
width: inherit;
height: inherit;
object-fit: contain;

}



